
###> main ###
.idea/
.DS_store
###< main ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/config/packages/swiftmailer.yaml
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###


###> inte ###
/node_modules/
###< inte ###
