{% extends 'Admin/base.html.twig' %}

{% block _header %}
    {{ include('Admin/partials/header.html.twig') }}
{% endblock %}

{% block _page_content %}

    <h1>Gestion des projets</h1>

    <section class="section">
        <div class="add-form">
            <h2>Editer le projet : {{ Project.name }}</h2>
            {{ form_start(ProjectEdit) }}
            {{ form_end(ProjectEdit) }}
        </div>
    </section>

{% endblock %}