{% extends 'Portfolio/base.html.twig' %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{% block _page_content %}
    <h1 class="h1 animated slideInDown"><span>RETROUVEZ-MOI</span><br>sur les plateformes web !</h1>
    <div class="maps">
        <div class="maps__sociaux center-h">
            <div class="maps__sociaux__inner animated slideInUp">
                <a href="https://github.com/alex6632" target="_blank" class="icon github">Mon Github</a>
                <a href="https://www.linkedin.com/in/alexandre-simonin-639a4063?trk=nav_responsive_tab_profile" target="_blank" class="icon linkedin">Mon Linkedin</a>
                <a href="https://codepen.io/alex6632/" target="_blank" class="icon codepen">Mon Codepen</a>
            </div>
        </div>
    </div>
{% endblock %}
