{% extends 'layout.html.twig' %}

{% block body %}

    {% set actualRoute = app.request.attributes.get('_route') %}

    {% if is_granted('ROLE_ADMIN') %}{% endif %}

    <div class="admin-header">
        {% block _header %}{% endblock %}
    </div>

    <div class="block-alert">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert--success" role="alert">
                {#<div class="close">X Fermer</div>#}
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert--error" role="alert">
                {#<div class="close">X Fermer</div>#}
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="admin">
        {% block _container %}
            {% block _page_content %}{% endblock %}
        {% endblock %}
    </div>

{% endblock %}