// _c-button.scss
/*
.button {
  font-family: font(secondary);
  font-size: 14px;
  font-weight: 700;
  color: color(foreground, invert);
  background-color: color(secondary, dark);
  padding: 15px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  @include transition();

  &:hover {
    color: color(secondary, dark);
    background-color: color(primary);
    @include transition();
  }
}*/
