<svg width="110px" height="110px" viewBox="85 81 119 116">

    <g>
        <path id="a_gris" width="110px" height="110px" fill="none" stroke="#808285" stroke-width="1" stroke-dasharray="500" stroke-dashoffset="500" d="M148.881,197.438c-11.696-0.471-14.349-13.203-15.921-22.314c-2.778-16.117-3.447-32.642-3.965-48.959
		l-4.043,0.465c-1.835,8.647-2.632,22.329-11.037,27.684c-3.151,2.006-7.828,2.441-11.41,2.137
		c-7.57-0.645-12.402-6.172-14.067-13.273l-0.054-0.329c-0.592-5.644,1.815-16.895,15.151-19.095l17.009-1.959
		c2.589-12.293,7-33.656,8.102-41.355l5.281,0.417c-0.589,37.707,1.236,100.276,8.634,107.649c1.633,1.879,3.974,3.527,6.53,3.629
		c4.034,0.162,8.178-3.955,8.393-7.896c0.431-8.006-9.081-10.447-14.553-6.178l-1.34-4.377c6.103-4.617,15.442-3.266,19.319,3.77
		C165.397,185.834,159.311,197.859,148.881,197.438z M94.567,144.813c0.719,1.547,1.676,2.805,2.814,3.779
		c3.412,2.928,8.588,3.658,13.488,1.35c2.141-1.01,3.088-3.479,3.943-5.285c2.576-5.476,3.333-11.526,4.578-17.388l-15.123,1.739
		c-9.01,1.489-10.417,8.257-10.633,11.565C93.563,141.704,94.192,144.004,94.567,144.813z M126.106,121.155l2.736-0.314
		c-0.104-4.076-0.178-8.035-0.229-11.783L126.106,121.155z" >


        </path>

        <animate xlink:href="#a_gris"
                 attributeName="stroke-dashoffset"
                 from="500"
                 to="1"
                 dur="4s"
                 begin="0s"
                 fill="freeze"
                 id="contour_gris"
        />
        <animate xlink:href="#a_gris"
                 attributeName="fill"
                 from="#fff"
                 to="#808285"
                 dur="2s"
                 begin="contour_gris.end"
                 fill="freeze"
                 id="remplissage_gris"
        />
        <animate xlink:href="#a_gris"
                 attributeName="stroke-width"
                 from="1"
                 to="0"
                 dur="2s"
                 begin="contour_gris.end"
                 fill="freeze"
                 id="part1"
        />


    </g>

    <g>
        <path id="a_bleu" fill="none" opacity="0" d="M147.805,197.215c-11.695-0.471-14.349-13.203-15.92-22.316c-2.778-16.115-3.447-32.64-3.966-48.958
		l-4.042,0.464c-1.835,8.648-2.632,22.33-11.038,27.685c-3.15,2.006-7.828,2.441-11.41,2.137
		c-7.57-0.645-12.401-6.172-14.066-13.273l-0.054-0.33c-0.593-5.643,1.815-16.895,15.151-19.094l17.008-1.96
		c2.59-12.292,7.001-33.655,8.102-41.354l5.282,0.417c-0.589,37.707,1.235,100.276,8.634,107.649
		c1.632,1.879,3.974,3.527,6.529,3.629c4.035,0.162,8.178-3.955,8.394-7.896c0.43-8.006-9.082-10.447-14.554-6.178l-1.339-4.379
		c6.103-4.615,15.441-3.264,19.319,3.771C164.322,185.611,158.235,197.635,147.805,197.215z M93.492,144.59
		c0.719,1.545,1.675,2.805,2.814,3.779c3.411,2.928,8.587,3.658,13.487,1.35c2.142-1.01,3.088-3.479,3.943-5.285
		c2.576-5.476,3.334-11.526,4.578-17.388l-15.122,1.739c-9.011,1.489-10.417,8.257-10.633,11.565
		C92.487,141.481,93.117,143.781,93.492,144.59z M125.03,120.932l2.736-0.314c-0.104-4.076-0.177-8.035-0.228-11.783L125.03,120.932
		z" />

        <animate xlink:href="#a_bleu"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="3s"
                 begin="3s"
                 fill="freeze"
                 id="remplissage_bleu"

        />
        <animate xlink:href="#a_bleu"
                 attributeName="fill"
                 from="#fff"
                 to="#004A7E"
                 dur="3s"
                 begin="remplissage_bleu.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#a_bleu"
                          attributeName="transform"
                          type="scale"
                          from="2 2"
                          to="1 1"
                          dur="3s"
                          begin="remplissage_bleu.end"
                          fill="freeze"
        />

        <animateTransform xlink:href="#a_bleu"
                         attributeName="transform"
                         type="translate"
                         from="-75 -75"
                         to="0 0"
                         dur="3s"
                         begin="remplissage_bleu.end"
                         fill="freeze"
                         additive="sum"
        />

    </g>

    <g id="prenom">
        <path id="prenom_1" opacity="0" fill="#808285" d="M136.679,120.434h1.271v7.723h3.999v1.158h-5.27V120.434z"/>
        <path id="prenom_2" opacity="0" fill="#808285" d="M143.06,120.434h5.036v1.133h-3.764v2.707h3.638v1.139h-3.638v2.758h3.886v1.132h-5.158V120.434z"/>
        <path id="prenom_3" opacity="0" fill="#808285" d="M156,120.434h1.537l-3.557,4.283l3.804,4.598h-1.536l-3.024-3.682l-3.055,3.682h-1.552l3.824-4.598
            l-3.551-4.283h1.552l2.786,3.391L156,120.434z"/>
        <path id="prenom_4" opacity="0" fill="#808285" d="M161.624,120.383h0.894l3.981,8.932h-1.301l-1.183-2.631h-3.791l-1.108,2.631h-1.307L161.624,120.383z
             M163.492,125.551l-1.433-3.216l-1.329,3.216H163.492z"/>
        <path id="prenom_5" opacity="0" fill="#808285" d="M174.53,120.434h1.207v8.881h-1.094l-5.938-6.839v6.839h-1.194v-8.881h1.03l5.988,6.898V120.434z"/>
        <path id="prenom_6" opacity="0" fill="#808285" d="M177.65,129.302v-8.868h2.995c1.207,0,2.164,0.181,2.867,0.543c0.703,0.363,1.264,0.896,1.678,1.6
            c0.416,0.703,0.623,1.47,0.623,2.301c0,0.594-0.113,1.161-0.344,1.704c-0.229,0.543-0.555,1.019-0.98,1.43
            c-0.43,0.425-0.934,0.744-1.502,0.961c-0.338,0.13-0.645,0.219-0.924,0.263c-0.281,0.045-0.816,0.067-1.604,0.067H177.65z
             M180.511,121.567h-1.59v6.604h1.629c0.635,0,1.131-0.044,1.482-0.131c0.352-0.086,0.645-0.196,0.879-0.329
            c0.236-0.134,0.449-0.298,0.645-0.493c0.627-0.636,0.941-1.439,0.941-2.41c0-0.953-0.32-1.73-0.967-2.332
            c-0.234-0.226-0.512-0.409-0.814-0.553c-0.309-0.145-0.598-0.24-0.875-0.287S181.12,121.567,180.511,121.567z"/>
        <path id="prenom_7" opacity="0" fill="#808285" d="M187.44,129.315v-8.881h2.225c0.898,0,1.613,0.223,2.143,0.668c0.525,0.443,0.789,1.047,0.789,1.805
            c0,0.518-0.129,0.964-0.387,1.342c-0.258,0.377-0.631,0.658-1.111,0.846c0.283,0.186,0.559,0.44,0.832,0.764
            c0.271,0.321,0.65,0.883,1.143,1.683c0.311,0.505,0.559,0.884,0.744,1.14l0.471,0.635h-1.514l-0.389-0.584
            c-0.012-0.022-0.037-0.058-0.074-0.108l-0.248-0.352l-0.393-0.647l-0.426-0.694c-0.264-0.362-0.502-0.655-0.725-0.87
            c-0.217-0.217-0.412-0.371-0.59-0.466c-0.176-0.097-0.471-0.144-0.887-0.144h-0.332v3.865H187.44z M189.093,121.514h-0.381v2.803
            h0.482c0.646,0,1.086-0.054,1.326-0.164c0.238-0.111,0.426-0.277,0.561-0.498c0.133-0.223,0.201-0.477,0.201-0.76
            c0-0.281-0.074-0.534-0.225-0.761c-0.146-0.227-0.359-0.386-0.625-0.479C190.161,121.561,189.716,121.514,189.093,121.514z"/>
        <path id="prenom_8" opacity="0" fill="#808285" d="M195.267,120.434h5.035v1.133h-3.764v2.707h3.637v1.139h-3.637v2.758h3.885v1.132h-5.156V120.434z"/>

       <animateTransform xlink:href="#prenom_1"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="9s"
                         fill="freeze"
                         id="prenom1"
        />
        <animate xlink:href="#prenom_1"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="9s"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_2"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom1.end"
                         fill="freeze"
                         id="prenom2"
        />
        <animate xlink:href="#prenom_2"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom1.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_3"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom2.end"
                         fill="freeze"
                         id="prenom3"
        />
        <animate xlink:href="#prenom_3"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom2.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_4"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom3.end"
                         fill="freeze"
                         id="prenom4"
        />
        <animate xlink:href="#prenom_4"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom3.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_5"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom4.end"
                         fill="freeze"
                         id="prenom5"
        />
        <animate xlink:href="#prenom_5"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom4.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_6"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom5.end"
                         fill="freeze"
                         id="prenom6"
        />
        <animate xlink:href="#prenom_6"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom5.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_7"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom6.end"
                         fill="freeze"
                         id="prenom7"
        />
        <animate xlink:href="#prenom_7"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom6.end"
                 fill="freeze"
        />
        <animateTransform xlink:href="#prenom_8"
                         attributeName="transform"
                         type="translate"
                         from="0 -50"
                         to="0 0"
                         dur="0.2s"
                         begin="prenom7.end"
                         fill="freeze"
        />
        <animate xlink:href="#prenom_8"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="prenom7.end"
                 fill="freeze"
        />
    </g>


    <g id="nom">
        <path id="nom_1" opacity="0" fill="#387EC1" d="M111.29,133.368v2.896c-1.967-0.884-3.533-1.326-4.7-1.326c-0.665,0-1.192,0.111-1.587,0.334
            c-0.393,0.224-0.59,0.519-0.59,0.887c0,0.282,0.145,0.551,0.426,0.807c0.283,0.254,0.972,0.583,2.07,0.985
            c1.096,0.403,1.971,0.778,2.629,1.125s1.229,0.835,1.704,1.464c0.478,0.629,0.716,1.426,0.716,2.387
            c0,1.373-0.521,2.466-1.566,3.279c-1.043,0.814-2.417,1.221-4.121,1.221c-1.84,0-3.621-0.479-5.348-1.434V142.8
            c0.992,0.665,1.868,1.149,2.633,1.452c0.764,0.307,1.574,0.457,2.43,0.457c1.447,0,2.174-0.457,2.174-1.367
            c0-0.311-0.145-0.605-0.436-0.88c-0.291-0.276-0.986-0.611-2.096-1.006c-1.108-0.396-1.984-0.766-2.632-1.104
            c-0.646-0.34-1.205-0.826-1.676-1.455c-0.468-0.63-0.704-1.436-0.704-2.42c0-1.272,0.514-2.301,1.539-3.082
            c1.023-0.782,2.397-1.174,4.115-1.174C107.855,132.221,109.528,132.604,111.29,133.368z"/>
        <path id="nom_2" opacity="0" fill="#387EC1" d="M118.175,132.413v14.822h-3.69v-14.822"/>
        <path id="nom_3" opacity="0" fill="#387EC1" d="M129.566,137.909l4.761-5.496h3.212v14.822h-3.692v-9.251l-4.004,4.647h-0.555l-4.004-4.647v9.251h-3.693
            v-14.822h3.207L129.566,137.909z"/>
        <path id="nom_4" opacity="0" fill="#387EC1" d="M148.678,132.221c2.526,0,4.569,0.762,6.133,2.287c1.564,1.525,2.347,3.299,2.347,5.32
            c0,2.051-0.792,3.83-2.377,5.337c-1.587,1.506-3.619,2.26-6.103,2.26c-2.511,0-4.556-0.75-6.132-2.25
            c-1.577-1.498-2.367-3.281-2.367-5.347c0-2.028,0.785-3.805,2.352-5.325S146.147,132.221,148.678,132.221z M148.678,144.35
            c1.402,0,2.531-0.418,3.385-1.248c0.855-0.831,1.285-1.921,1.285-3.273c0-1.357-0.43-2.449-1.285-3.277
            c-0.854-0.828-1.982-1.242-3.385-1.242c-1.407,0-2.538,0.414-3.401,1.242c-0.855,0.828-1.288,1.92-1.288,3.277
            c0,1.352,0.433,2.442,1.288,3.273C146.14,143.932,147.271,144.35,148.678,144.35z"/>
        <path id="nom_5" opacity="0" fill="#387EC1" d="M174.844,132.413v14.822h-3.121l-8.18-9.496v9.496h-3.693v-14.822h3.387l7.915,9.061v-9.061H174.844z"/>
        <path id="nom_6" opacity="0" fill="#387EC1" d="M181.995,132.413v14.822h-3.694v-14.822H181.995z"/>
        <path id="nom_7" opacity="0" fill="#387EC1" d="M200.423,132.413v14.822h-3.119l-8.18-9.496v9.496h-3.693v-14.822h3.387l7.912,9.061v-9.061H200.423z"/>

        <animateTransform xlink:href="#nom_1"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="9s"
                         fill="freeze"
                         id="nom1"
        />
        <animate xlink:href="#nom_1"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="9s"
                 fill="freeze"
                 id="nom1"
        />
        <animateTransform xlink:href="#nom_2"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom1.end"
                         fill="freeze"
                         id="nom2"
        />
        <animate xlink:href="#nom_2"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom1.end"
                 fill="freeze"
                 id="nom2"
        />
        <animateTransform xlink:href="#nom_3"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom2.end"
                         fill="freeze"
                         id="nom3"
        />
        <animate xlink:href="#nom_3"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom2.end"
                 fill="freeze"
                 id="nom3"
        />
        <animateTransform xlink:href="#nom_4"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom3.end"
                         fill="freeze"
                         id="nom4"
        />
        <animate xlink:href="#nom_4"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom3.end"
                 fill="freeze"
                 id="nom4"
        />
        <animateTransform xlink:href="#nom_5"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom4.end"
                         fill="freeze"
                         id="nom5"
        />
        <animate xlink:href="#nom_5"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom4.end"
                 fill="freeze"
                 id="nom5"
        />
        <animateTransform xlink:href="#nom_6"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom5.end"
                         fill="freeze"
                         id="nom6"
        />
        <animate xlink:href="#nom_6"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom5.end"
                 fill="freeze"
                 id="nom6"
        />
        <animateTransform xlink:href="#nom_7"
                         attributeName="transform"
                         type="translate"
                         from="50 0"
                         to="0 0"
                         dur="0.2s"
                         begin="nom6.end"
                         fill="freeze"
        />
        <animate xlink:href="#nom_7"
                 attributeName="opacity"
                 from="0"
                 to="1"
                 dur="0.2s"
                 begin="nom6.end"
                 fill="freeze"
        />

    </g>

</svg>
