<div class="mail">
    <h3>Nouveau message depuis votre portfolio</h3>

    {{ prenom }} <span class="upper">{{ nom }}</span>, vous a écrit :

    <div class="message">
        {{ message }}
    </div>

    <div class="answer">
        Pour lui répondre : {{ email }}
    </div>
</div>